<div class="faq-wrap-container">
    <p>Frequentyl Asked Questions</p>
    <mat-divider></mat-divider>
    <div class="faq-container">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header> 
                    <mat-panel-description>
                        Is there any discount for yearly subscription?
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Yes the discount details are available above in plan pricing</p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header> ̑
                    <mat-panel-description>
                        Can I change my current plan?
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Yes you can switch to any plan at any instance.</p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header> ̑
                    <mat-panel-description>
                        How do I cancel a subscription?
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>You can cancel or change your subscription at any time without any additional<br/>
                charges. If you want to cancel your subscription go to your profile page and click on<br/>
                billing information.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header> ̑
                    <mat-panel-description>
                        How to purchage a domain?
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Purchasing a domain.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>