@import "../../../assets/scss/global-colors.scss";

.icon-section {

    &:host {
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
    }

    .icon-class {
        display: flex;
        align-items: center;
        font-size: x-large;

        @media screen and (max-width: $tablet) {
            font-size: large;
        }

        @media screen and (max-width: $mobile) {}
    }

    .green-icon {
        color: rgb(154, 245, 154);
    }

}

.badgeCss {
    span.mat-badge-content.mat-badge-active {
        @media screen and (max-width: $tablet) {
            font-size: large;
        }
    
        @media screen and (max-width: $mobile) {
            right: 3px;
            top: -2px;
            width: 12px;
            height: 12px;
            line-height: 12px;
        }
    }
}