@import "../../../assets/scss/global-colors.scss";

.icon-section{

    &:host {
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
    }

    .icon-class {
        display: flex;
        align-items: center;
        font-size: x-large;
    }

    .green-icon{
        color: rgb(154, 245, 154);
    }
    
}

