<div class="plan-wrap-container">
    <div class="plan-container">
        <div class="plan-desc">
            <p class="plan-header-title">Pricing Plans</p>
            <p class="plan-text">
                Familiarize yourseld with the payment plans below.<br />
                pick best pricing plan to fit your needs.<br />
            </p>
            <div class="bill-toggle-buttons">
                <!-- <button mat-stroked-button>Bill Monthly</button>
                <button mat-stroked-button>Bill Annually</button> -->
                <button class="btn">Bill Monthly</button>
                <button class="btn btn-selected">Bill Annually</button>
            </div>

            <gb-plan-item></gb-plan-item>
        </div>
    </div>
</div>