@import "../../../assets/scss/global-colors.scss";

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: auto;

    .user-sub-menu {
        display: flex;

        justify-content: space-between;
        gap: 1rem;
        padding-right: 2rem;

        .user-logo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            bottom: 0.4rem;
        }

        .user-name {
            margin: auto;

            @media screen and (max-width: $tablet) {
                display: none;
            }

            @media screen and (max-width: $mobile) {}
        }

        [aria-expanded="true"] i {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}